<h1 class="text-balance text-4xl font-bold tracking-tight">waveme</h1>
      <main>
  <div class="mb-4">
      <p class=" text-lg leading-8 text-gray-600">where every voice creates a wave</p>
<p class=" text-lg leading-8 text-gray-600">connect, share, and shine</p>
</div>


<% if user_signed_in? %>
<a href="/feed" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
  <button>
    view feed
  </button>
</a>
<% else %>
        <a href="/users/sign_in" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
  <button>
    connect
</button>
</a>
<% end %>
</main>
